{#
/**
 * @file
 * A layout for the checkout registration form
 *
 * Available variables:
 * - form: The form.
 *
 * @ingroup themeable
 */
#}
<div class="commerce-checkout-completion-registration">
  <div class="commerce-checkout-completion-registration__text">
    <h2>{%trans%}Create an account?{%endtrans%}</h2>
    <p>{%trans%}Complete your account registration now to be able to access your order information at any time.{%endtrans%}</p>
  </div>
  <div class="commerce-checkout-completion-registration__form">
    {{ form }}
  </div>
</div>
